<div class="scores-list">
  <div class="scores-title">
    Friends
  </div>
  
  <% if current_user %> 
    <%= render @pushes_scores_friends %>
  <% else %>
    <div class="scores-login">
      <%= link_to image_tag("facebook-connect-banner.gif"), '/auth/facebook' %>
    </div>
  <% end %>
  <div style="clear:both"></div>
</div>


<div class="scores-list">
  <div class="scores-title">
    All
  </div>
  
  <%= render @pushes_scores %>
  <div style="clear:both"></div>
</div>
