<table class="scores-list">
  <thead>
    <tr>
      <th colspan="7" style="text-align:center">
        Friends
      </th>
    </tr>
  </thead>
  <% if current_user %> 
    <%= render @pushes_scores_friends %>
  <% else %>
    <tr><td colspan="7">Enregistrez-vous</td></tr>
  <% end %>
</table>

<table class="scores-list">
  <thead>
    <tr>
      <th colspan="7" style="text-align:center">
        All
      </th>
    </tr>
  </thead>
  <%= render @pushes_scores %>
</table>
