<div class="scores-list">
  <div class="scores-title">
    Friends
  </div>
  
  <% if current_user %> 
    <%= render @pushes_scores_friends %>
  <% else %>
    <div class="scores-login">
      Login with Facebook
    </div>
  <% end %>
</div>

<div class="scores-list">
  <div class="scores-title">
    All
  </div>
  
  <%= render @pushes_scores %>
</div>
