<ul>
  <li><i class="icon-th-list"></i> <%= _("to save your progression.") %></li>
  <li><i class="icon-trophy"></i> <%= _("to save your best scores.") %></li>
  <li><i class="icon-user"></i> <%= _("to compare your scores with your friends.") %></li>
</ul>
