<ul>
  <li><i class="icon-th-list"></i> to save your progression.</li>
  <li><i class="icon-trophy"></i> to save your best scores.</li>
  <li><i class="icon-user"></i> to compare your scores with your friends.</li>
</ul>