<%= javascript_include_tag "session" %>

<div id="session">
  <div class="session-button">
    <div class="session-connect">
      <%= link_to image_tag("facebook-connect.jpg"), '/connect_facebook' %>
    </div>

    <div class="session-text">
      <span class="session-text-title"><%= _("Login with Facebook") %></span>
      <%= render :template => 'sessions/_login_advantages' %>
    </div>

    <div style="clear:both"></div>
  </div>

<!---
  <div class="session-note">
    <strong>Note</strong> : We will NEVER publish something on your page.
  </div>
-->
</div>
