<%= javascript_include_tag "session" %>

<div id="session">
  <div class="session-button">
    <div class="session-connect">
      <%= link_to image_tag("facebook-connect.png"), '/auth/facebook' %>
    </div>
    
    <div class="session-text">
      <span class="session-text-title">Connect with Facebook</span>
      <ul>
        <li><i class="icon-th-list"></i> to save your progression.</li>
        <li><i class="icon-trophy"></i> to save your best scores.</li>
        <li><i class="icon-user"></i> to compare your scores with your friends.</li>
      </ul>
    </div>
    
    <div style="clear:both"></div>
  </div>

  <div class="session-note">
    <strong>Note</strong> : We will NEVER publish something on your page.
  </div>


  <div class="session-regular-link">
    <%= link_to 'I care too much about my privacy. I want to play alone and without saves'.html_safe %>
  </div>
</div>