<%= javascript_include_tag "workflows" %>

<div id="welcome">
  <div class="title">
    Welcome to Sokoban.be - the great Puzzle-Game made Social
  <div>
    
  <div class="description">
    PLAY SOKOBAN AND CHALLENGE YOUR FRIENDS
  </div>
  
  <div class="image">
    <%= image_tag "" %>
  </div>
  
  <div class="buttons">
    <div class="button-how-to-play">
      <%= link_to 'How to Play' %>
    </div>
    
    <div class="button-play">
      <%= link_to 'Play' %>
    </div>
  </div>
</div>
