<%= javascript_include_tag "workflows" %>

<div id="facebook-page">
  <div class="title">
    Like our Facebook page<sup>1</sup>
  </div>

  <div class="facebook-box">
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsokoban.game&amp;width=400&amp;height=250&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23F5F5F5&amp;header=false&amp;appId=312592002148798" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:250px;" allowTransparency="true"></iframe>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;Next</li>
    </ul>
    <span>
      <sup>1</sup>
      If you like our page, this window will never popup again.
    </span>
    <div style="clear:both"></div>
  </div>
</div>
