<%= javascript_include_tag "workflows" %>

<div id="facebook-page">
  <div class="title">
    Join our Facebook page
  </div>

  <div class="facebook-box">
    <!--
    <div class="fb-like-box" data-href="http://www.facebook.com/sokoban.game" data-width="400" data-height="250" data-show-faces="true" data-stream="false" border-color="#F5F5F5" data-header="true">
    </div>
  -->
    <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2Fsokoban.game&amp;width=400&amp;height=250&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color=%23F5F5F5&amp;header=true&amp;appId=312592002148798" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:250px;" allowTransparency="true"></iframe>
  </div>

  <div class="buttons">
    <ul>
      <li class="button-next"><i class="icon-forward"></i>&nbsp;Next</li>
    </ul>
    <span>
      Join the <a href="https://www.facebook.com/sokoban.game">Sokoban Facebook page</a> to get fresh news about your favorite puzzle game.
    </span>
    <div style="clear:both"></div>
  </div>
</div>
