<html>
<body>

  <div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding-bottom:0;padding-left:0;padding-right:0;padding-top:0">
    <table cellspacing="0" align="center" style="margin-right:auto;border-spacing:0;border-collapse:collapse;width:590px;background:none;margin-left:auto;margin-bottom:0;border-color:#aed8f2!important;margin-top:0;border:1px solid #efefef" width="590" cellpadding="0">
      <tbody><tr>
        <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
          <table cellspacing="0" align="center" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
            <tbody>
              <tr>
                <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                  <a href="https://go.madmimi.com/redirects/1365771830-26fc33f76d41b14253d56c767f0abb13-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank">
                    <img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/4237/original/banner.png" height="110" alt="banner" style="border:0" width="590">
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
          <table cellspacing="0" align="center" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
            <tbody>
              <tr valign="top">
                <td style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:8px 18px 8px 18px" width="566">
                  <div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
                    <table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><h2 style="color:#333333!important;font-family:Georgia;font-size:30px;font-weight:bold;line-height:1.2em;margin-bottom:10px;margin-left:0;margin-right:0;margin-top:10px;padding:0"><span>Sokoban : New Design, Facebook Integration, More fun!</span></h2></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><table height="155" align="right" width="179" style="border:1px solid #ffffff;border-collapse:collapse;border-spacing:0;float:right;margin:0"><tbody><tr><td align="right" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><div style="float:right;margin-bottom:15px;margin-left:20px;margin-right:0;margin-top:4px;padding:0"><a href="https://go.madmimi.com/redirects/1365771830-75b2e92b7973bfa4c41ce7f1706b3d72-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank"><img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/4375/original/Capture%20d%E2%80%99e%CC%81cran%202013-04-11%20a%CC%80%2017.23.15.png" height="155" alt="Capture d’écran 2013-04-11 à 17.23.15" style="border:0" width="159"></a></div></td></tr></tbody></table><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">Sokoban is a <strong style="font-style:normal;font-weight:bold">free puzzle-game</strong> where a level is solved when you've pushed all the boxes on their goals.</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top"><a href="https://go.madmimi.com/redirects/1365771830-a0599dcf6727dbc955d8da5b4f59b3c5-205f5e6?pa=404030578431882572" style="color:#3693cc!important;text-decoration:underline" target="_blank">sokoban.be</a> puts together <strong style="font-style:normal;font-weight:bold">6516 levels</strong> from the very simple ones to the really complex ones.</p></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center"><img src="https://madmimi.com/images/divider.png" alt="***" style="border:0"></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><table height="284" align="left" width="279" style="border:1px solid #ffffff;border-collapse:collapse;border-spacing:0;float:left;margin:0"><tbody><tr><td align="left" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><div style="float:left;margin-bottom:15px;margin-left:0;margin-right:20px;margin-top:4px;padding:0"><a href="https://go.madmimi.com/redirects/1365771830-1609cc8321f74a5bd4549efd8413a241-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank"><img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/4262/original/2.png" height="284" alt="2" style="border:0" width="259"></a></div></td></tr></tbody></table><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">Today, we are very proud ton announce the new release of the game with an improved design and better social interactions.</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">Currently, there are almost <strong style="font-style:normal;font-weight:bold">200</strong> registered members on Sokoban and <strong style="font-style:normal;font-weight:bold">3316</strong> levels have been solved. Keep doing the good work :-)</p></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center"><img src="https://madmimi.com/images/divider.png" alt="***" style="border:0"></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><table height="303" align="right" width="304" style="border:1px solid #ffffff;border-collapse:collapse;border-spacing:0;float:right;margin:0"><tbody><tr><td align="right" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><div style="float:right;margin-bottom:15px;margin-left:20px;margin-right:0;margin-top:4px;padding:0"><a href="https://go.madmimi.com/redirects/1365771830-8d2ecbdc3b9b720184d0259acd63a92a-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank"><img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/4427/original/Capture%20d%E2%80%99e%CC%81cran%202013-04-11%20a%CC%80%2017.29.29.png" height="303" alt="Capture d’écran 2013-04-11 à 17.29.29" style="border:0" width="284"></a></div></td></tr></tbody></table><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">Now, when you solve a level, you can compare your score with the scores of your friends.</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">They will get a facebook notification if you outperform them so that they can directly challenge you back.</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">You can also brag them directly on their Facebook feed.</p></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center"><img src="https://madmimi.com/images/divider.png" alt="***" style="border:0"></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><table height="255" align="left" width="270" style="border:1px solid #ffffff;border-collapse:collapse;border-spacing:0;float:left;margin:0"><tbody><tr><td align="left" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><div style="float:left;margin-bottom:15px;margin-left:0;margin-right:20px;margin-top:4px;padding:0"><a href="https://go.madmimi.com/redirects/1365771830-add081cc9cc9c70fa5d16658dfe3352c-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank"><img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/4560/original/Capture%20d%E2%80%99e%CC%81cran%202013-04-11%20a%CC%80%2017.39.38.png" height="255" alt="Capture d’écran 2013-04-11 à 17.39.38" style="border:0" width="250"></a></div></td></tr></tbody></table><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">Our new killer-feature, the <strong style="font-style:normal;font-weight:bold">challenge button</strong>, is very good to propose you levels adapted to your skills.</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;vertical-align:top">If you don't know which level to solve, just click on it!</p></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center"><img src="https://madmimi.com/images/divider.png" alt="***" style="border:0"></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top"><strong style="font-style:normal;font-weight:bold">Come and play Sokoban on</strong></p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top"><strong style="font-style:normal;font-weight:bold"><a href="https://go.madmimi.com/redirects/1365771830-0afeae22bfdfcc55051f357221f31a24-205f5e6?pa=404030578431882572" style="color:#3693cc!important;text-decoration:underline" target="_blank">https://www.sokoban.be</a></strong></p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top">...or on our Facebook app</p>

                      <p style="color:#555555!important;font-family:Helvetica;font-size:15px;line-height:1.5em;margin-bottom:1.3em;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-top:3px;text-align:center;vertical-align:top"><a href="https://go.madmimi.com/redirects/1365771830-471a1c34f9b9f0f832fc7e89b2c338e2-205f5e6?pa=404030578431882572" style="color:#3693cc!important;text-decoration:underline" target="_blank">https://apps.facebook.com/<wbr>sokoban_game</a></p></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;padding-top:0px;text-align:center"><img src="https://madmimi.com/images/divider.png" alt="***" style="border:0"></div></td></tr></tbody></table></div><div style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><table style="border-collapse:collapse;border-spacing:0;margin:auto" width="554"><tbody><tr><td style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="554"><table align="center" style="border-collapse:collapse;border-spacing:0;margin:auto" width="400"><tbody><tr><td valign="top" style="clear:both;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0"><div style="margin-bottom:1.1em;margin-left:auto;margin-right:auto;margin-top:0;padding:0;text-align:center"><a href="https://go.madmimi.com/redirects/1365771830-3894298807ef5804d157a025e8848155-205f5e6?pa=404030578431882572" style="color:#3693cc!important" target="_blank"><img src="https://d1wh43egtz3cgo.cloudfront.net/promotion_images/0451/5009/original/Facebooklike.png" height="152" alt="Facebooklike" style="border:0" width="400"></a></div></td></tr></tbody></table></td></tr></tbody></table></div>

              </td>
            </tr>
          </tbody></table>
          <table cellspacing="0" style="background:none;border-collapse:collapse;border-spacing:0;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0" width="590" cellpadding="0">
            <tbody><tr>
              <td style="background-color:#ffffff;color:#222;font-family:Helvetica Neue,Helvetica,Arial,Verdana,sans-serif;font-size:11px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0;padding-bottom:10px;padding-left:10px;padding-right:10px;padding-top:10px;text-align:left" width="590">

    <div style="color:#999999!important;font-family:Helvetica;font-size:13px;margin-bottom:0;margin-left:0;margin-right:0;margin-top:0;padding:0">
      ©2013

      80LIMIT SPRL | Avenue Jean d'Avesnes 28, 7000 Mons, Belgium
    </div>

              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </div>

  <div style="text-align:center">
    <table align="center" style="margin-left:auto;margin-right:auto;margin-top:10px;width:598px">
      <tbody><tr>
        <td style="color:#999999!important;font-family:Helvetica;font-size:13px">
          <table style="text-align:center;width:592px;font-size:11px;border-color:#aed8f2!important;margin:auto;min-height:auto">
            <tbody><tr>
              <td style="color:#999999!important;font-family:Helvetica;font-size:13px;padding:8px!important">

                                  <span>This email was sent to <a style="color:#999999!important;font-family:Helvetica;font-size:13px;text-decoration:underline">michael.hoste@gmail.com</a>. </span>
                  <span>To ensure that you continue receiving our emails, please add us to your address book or safe list.</span>



                  <span>View this email on the web <a href="http://mad.ly/d2b8a3?pact=404030578431882572&amp;fe=1" style="color:#999999!important;font-family:Helvetica;font-size:13px;text-decoration:underline" target="_blank">here</a>.</span>



                  <span>You can also <a href="https://go.madmimi.com/forward/404030578431882572?amx=3975722765" style="color:#999999!important;font-family:Helvetica;font-size:13px;text-decoration:underline" target="_blank">forward to a friend</a>.</span>



                <br>

                  <a href="https://go.madmimi.com/opt_out?pact=404030578431882572&amp;fe=1&amp;amx=3975722765" style="color:#999999!important;font-family:Helvetica;font-size:13px;font-weight:bold;text-decoration:underline" target="_blank">Unsubscribe</a>
                            </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </div>

  <div style="text-align:center">
    <table align="center" style="margin-bottom:15px;margin-left:auto;margin-right:auto;margin-top:8px">
      <tbody><tr>
        <td style="color:#999999!important;font-family:Helvetica;font-size:13px;text-align:center">
          <table style="background:none!important;font-size:11px;font-weight:normal;text-align:center;white-space:nowrap">
            <tbody><tr>
              <td style="color:#999999!important;font-family:Helvetica;font-size:13px;text-align:center">
                <a href="https://madmimi.com/?pact=404030578431882572&amp;fe=1&amp;utm_source=80LIMIT+SPRL&amp;utm_medium=customer+promotion&amp;utm_campaign=Sokoban+%3A+Play+with+your+Friends" style="color:#999999!important;font-family:Helvetica;font-size:13px;text-decoration:none" target="_blank">
                  <span style="color:#000000">Powered by <em style="font-style:normal;font-weight:bold;text-decoration:underline">Mad Mimi</em> ®</span>
                </a>
              </td>
            </tr>
          </tbody></table>
        </td>
      </tr>
    </tbody></table>
  </div>
</body>
</html>
