<% link = invitation.registred? ? invitation.f_link : "http://www.facebook.com/#{invitation.f_id}" %>

<div class="invite-item" data-f_id="<%= invitation.f_id %>">
  <div class="invite-picture">
    <%= link_to image_tag(invitation.profile_picture, :title => invitation.name), link %>
  </div>
  <div class="invite-name">
    <%= link_to invitation.name, link, :title => invitation.name %>
  </div>
</div>
