<div id="limited-content">

<h1 class="chapter"><span class="chapter_label">Chapitre 1</span> <a id='magicparlabel-2137' />
Remerciements</h1>
<div class="standard"><a id='magicparlabel-2142' />
<hr />

</div>

<div class="standard"><a id='magicparlabel-2143' />
</div>

<div class="standard"><a id='magicparlabel-2163' />
Je tiens avant tout à remercier Madame Véronique Bruyère d'avoir accepté le sujet de mémoire qui me tenait à cœur et de l'avoir suivi avec enthousiasme tout au long de l'année. Merci pour les nombreux conseils et suggestions qu'elle m'a apportés, entre autres lors de la rédaction.
<br />

</div>

<div class="standard"><a id='magicparlabel-2164' />
J'exprime aussi ma reconnaissance à Monsieur Tom Mens pour m'avoir autorisé à utiliser l'un de ses ordinateurs personnels et à Sylvain Degransart pour m'avoir créé un compte sur celui-ci. Les nombreux calculs que j'ai pu y effectuer m'ont permis de progresser plus vite et de détecter mes erreurs plus rapidement.
<br />

</div>

<div class="standard"><a id='magicparlabel-2165' />
Je montre également ma gratitude à Monsieur Delgrange et à Monsieur Pirlot pour avoir accepté d'être les rapporteurs de ce mémoire.
<br />

</div>

<div class="standard"><a id='magicparlabel-2166' />
Je remercie mes parents pour les nombreuses relectures, souvent difficiles, que je leur ai infligées tout au long de la rédaction de ce mémoire.
<br />

</div>

<div class="standard"><a id='magicparlabel-2167' />
Pour finir, je tiens à apporter une reconnaissance toute particulière à mon grand-père maternel, Làszlo Fodor qui, dès ma petite enfance, a su susciter mon intérêt pour de nombreux casse-têtes. Il a été le premier à mettre un Rubik's Cube entre mes mains. Le sujet de ce mémoire ne serait peut-être pas le même sans son influence.</div>

<div class="standard"><a id='magicparlabel-2168' />
<br />
</div>

<div class="standard"><a id='magicparlabel-2169' />
</div>

</div>
