<div id="limited-content">

<div class='toc'><h1 class='tochead chapter'>Table des matières</h1>
<hr/>

<div class='lyxtoc-1'><a href='#magicparlabel-2137' class='tocentry'>Chapitre 1 Remerciements</a> <a href='#magicparlabel-2137' class='tocarrow'></a></div>

<div class='lyxtoc-1'><a href='#magicparlabel-2193' class='tocentry'>Chapitre 2 Introduction</a> <a href='#magicparlabel-2193' class='tocarrow'></a></div>

<div class='lyxtoc-1'><a href='#magicparlabel-2207' class='tocentry'>Chapitre 3 Le Sokoban</a> <a href='#magicparlabel-2207' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-2214' class='tocentry'>3.1 Historique</a> <a href='#magicparlabel-2214' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2229' class='tocentry'>3.2 Règles</a> <a href='#magicparlabel-2229' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2308' class='tocentry'>3.3 Complexité</a> <a href='#magicparlabel-2308' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-2311' class='tocentry'>Chapitre 4 Résolution</a> <a href='#magicparlabel-2311' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-2321' class='tocentry'>4.1 Arbre de recherche</a> <a href='#magicparlabel-2321' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2349' class='tocentry'>4.2 État de l'art</a> <a href='#magicparlabel-2349' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2372' class='tocentry'>4.3 Contributions</a> <a href='#magicparlabel-2372' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-2408' class='tocentry'>Chapitre 5 Prérequis</a> <a href='#magicparlabel-2408' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-2416' class='tocentry'>5.1 Algorithme principal</a> <a href='#magicparlabel-2416' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2463' class='tocentry'>5.2 État</a> <a href='#magicparlabel-2463' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2478' class='tocentry'>5.3 Nœud</a> <a href='#magicparlabel-2478' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2497' class='tocentry'>5.4 Liste d'attente</a> <a href='#magicparlabel-2497' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-2502' class='tocentry'>5.5 Zone</a> <a href='#magicparlabel-2502' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-2508' class='tocentry'>5.5.1 Objectif</a> <a href='#magicparlabel-2508' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-2533' class='tocentry'>5.5.2 Implémentation</a> <a href='#magicparlabel-2533' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-2541' class='tocentry'>5.5.3 Tables de traduction</a> <a href='#magicparlabel-2541' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-2557' class='tocentry'>5.5.4 Opérations</a> <a href='#magicparlabel-2557' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-2593' class='tocentry'>5.6 Doublons</a> <a href='#magicparlabel-2593' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3034' class='tocentry'>Chapitre 6 Parcours</a> <a href='#magicparlabel-3034' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3054' class='tocentry'>6.1 Parcours en largeur</a> <a href='#magicparlabel-3054' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-3071' class='tocentry'>6.2 Parcours en profondeur</a> <a href='#magicparlabel-3071' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-3089' class='tocentry'>6.3 Parcours informé</a> <a href='#magicparlabel-3089' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3097' class='tocentry'>6.3.1 Tas</a> <a href='#magicparlabel-3097' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3189' class='tocentry'>6.4 Parcours A*</a> <a href='#magicparlabel-3189' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3197' class='tocentry'>6.4.1 Fonctionnement</a> <a href='#magicparlabel-3197' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3222' class='tocentry'>6.4.2 Implémentation</a> <a href='#magicparlabel-3222' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3304' class='tocentry'>6.4.3 Priorité de la liste d'attente</a> <a href='#magicparlabel-3304' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3311' class='tocentry'>6.4.4 Exemple </a> <a href='#magicparlabel-3311' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3323' class='tocentry'>6.5 Parcours IDA*</a> <a href='#magicparlabel-3323' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3329' class='tocentry'>6.5.1 Fonctionnement</a> <a href='#magicparlabel-3329' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3343' class='tocentry'>6.5.2 Avantages</a> <a href='#magicparlabel-3343' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3353' class='tocentry'>6.5.3 Inconvénients</a> <a href='#magicparlabel-3353' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3356' class='tocentry'>6.5.4 Optimisations</a> <a href='#magicparlabel-3356' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3372' class='tocentry'>6.5.5 Priorité de la liste d'attente</a> <a href='#magicparlabel-3372' class='tocarrow'></a></div>
</div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3375' class='tocentry'>Chapitre 7 Estimation</a> <a href='#magicparlabel-3375' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3387' class='tocentry'>7.1 Estimation d'une caisse</a> <a href='#magicparlabel-3387' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3392' class='tocentry'>7.1.1 Taxi-distance</a> <a href='#magicparlabel-3392' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3422' class='tocentry'>7.1.2 Distance réelle</a> <a href='#magicparlabel-3422' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3449' class='tocentry'>7.1.3 Distance réelle avec gestion du pousseur</a> <a href='#magicparlabel-3449' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3512' class='tocentry'>7.2 Estimation totale</a> <a href='#magicparlabel-3512' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3529' class='tocentry'>7.2.1 Goal le plus proche</a> <a href='#magicparlabel-3529' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3532' class='tocentry'>7.2.2 Goal le plus proche avec réservation</a> <a href='#magicparlabel-3532' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3554' class='tocentry'>7.2.3 Association caisses-goals minimisant l'estimation totale</a> <a href='#magicparlabel-3554' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3568' class='tocentry'>7.3 Méthodes utilisées</a> <a href='#magicparlabel-3568' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3592' class='tocentry'>Chapitre 8 Deadlock</a> <a href='#magicparlabel-3592' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3607' class='tocentry'>8.1 Deadlock à une caisse</a> <a href='#magicparlabel-3607' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3609' class='tocentry'>8.1.1 Deadlock en coin</a> <a href='#magicparlabel-3609' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3637' class='tocentry'>8.1.2 Deadlock en ligne</a> <a href='#magicparlabel-3637' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3666' class='tocentry'>8.1.3 Implémentation</a> <a href='#magicparlabel-3666' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3678' class='tocentry'>8.2 Deadlock à plusieurs caisses</a> <a href='#magicparlabel-3678' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3680' class='tocentry'>8.2.1 Dernière poussée</a> <a href='#magicparlabel-3680' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3717' class='tocentry'>8.2.2 Deadlock Zone</a> <a href='#magicparlabel-3717' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3768' class='tocentry'>8.2.3 Deadlock méthodique</a> <a href='#magicparlabel-3768' class='tocarrow'></a></div>
</div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3802' class='tocentry'>Chapitre 9 Pénalité</a> <a href='#magicparlabel-3802' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3822' class='tocentry'>9.1 Définition</a> <a href='#magicparlabel-3822' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-3839' class='tocentry'>9.2 Recherche</a> <a href='#magicparlabel-3839' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3844' class='tocentry'>9.2.1 Recherche passive</a> <a href='#magicparlabel-3844' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-3863' class='tocentry'>9.2.2 Recherche active</a> <a href='#magicparlabel-3863' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3911' class='tocentry'>9.3 Validation</a> <a href='#magicparlabel-3911' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-3925' class='tocentry'>9.3.1 Sous-état pénalisé minimum</a> <a href='#magicparlabel-3925' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-3927' class='tocentry'>9.4 Application</a> <a href='#magicparlabel-3927' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3952' class='tocentry'>Chapitre 10 Pré-traitement</a> <a href='#magicparlabel-3952' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3968' class='tocentry'>10.1 Table des estimations</a> <a href='#magicparlabel-3968' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-3971' class='tocentry'>10.2 Pénalités</a> <a href='#magicparlabel-3971' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-3981' class='tocentry'>Chapitre 11 Post-traitement</a> <a href='#magicparlabel-3981' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-3996' class='tocentry'>11.1 Itération du parcours IDA*</a> <a href='#magicparlabel-3996' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-3999' class='tocentry'>11.2 Pénalités probables</a> <a href='#magicparlabel-3999' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-4003' class='tocentry'>11.2.1 Positions fréquentes</a> <a href='#magicparlabel-4003' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-4014' class='tocentry'>11.2.2 Sous-états probablement pénalisés</a> <a href='#magicparlabel-4014' class='tocarrow'></a></div>
</div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-4017' class='tocentry'>Chapitre 12 Optimisations</a> <a href='#magicparlabel-4017' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-4025' class='tocentry'>12.1 Macro-poussées</a> <a href='#magicparlabel-4025' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-4048' class='tocentry'>12.2 Élagage</a> <a href='#magicparlabel-4048' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-4054' class='tocentry'>Chapitre 13 Résultats</a> <a href='#magicparlabel-4054' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-4062' class='tocentry'>13.1 Généralités</a> <a href='#magicparlabel-4062' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-4086' class='tocentry'>13.2 Tableau des résultats</a> <a href='#magicparlabel-4086' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-4122' class='tocentry'>Chapitre 14 Perspectives</a> <a href='#magicparlabel-4122' class='tocarrow'></a>

<div class='lyxtoc-2'><a href='#magicparlabel-4130' class='tocentry'>14.1 Pénalités probables : améliorations</a> <a href='#magicparlabel-4130' class='tocarrow'></a>

<div class='lyxtoc-3'><a href='#magicparlabel-4132' class='tocentry'>14.1.1 Détection d'ensembles de positions occupées simultanément</a> <a href='#magicparlabel-4132' class='tocarrow'></a></div>

<div class='lyxtoc-3'><a href='#magicparlabel-4136' class='tocentry'>14.1.2 Détection dynamique des pénalités probables</a> <a href='#magicparlabel-4136' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-2'><a href='#magicparlabel-4141' class='tocentry'>14.2 Pénalités restrictives</a> <a href='#magicparlabel-4141' class='tocarrow'></a></div>

<div class='lyxtoc-2'><a href='#magicparlabel-4173' class='tocentry'>14.3 Macro-Tunnels</a> <a href='#magicparlabel-4173' class='tocarrow'></a></div>
</div>

<div class='lyxtoc-1'><a href='#magicparlabel-4186' class='tocentry'>Chapitre 15 Conclusion</a> <a href='#magicparlabel-4186' class='tocarrow'></a></div>
</div>


<div class="standard"><a id='magicparlabel-2170' />
</div>

</div>
