<div id="limited-content">

<h1 class="chapter">
  <span class="chapter_label"></span> <a id='magicparlabel-2137' />
Préambule</h1>
<div class="standard"><a id='magicparlabel-2142' />
<hr />

</div>

<div class="standard"><a id='magicparlabel-2143' />
</div>

<div class="standard"><a id='magicparlabel-2163' />
Sokoban est devenu une passion pour moi car il touche deux de mes personnalités : le joueur et le programmeur.

<br/><br/>

Jouer à Sokoban est fun et défier ses amis ajoute une couche de challenge. Mais là où ce jeu devient réellement addictif,
c'est lorsqu'il s'agit d'implémenter des stratégies de détection de deadlocks et d'élaborer des algorithmes de prédiction
de chemin le plus court. Là, le jeu prend une toute autre dimension et les règles se complexifient !

<br/><br/>

Le document retranscrit sur ce site est la version web du mémoire que j'ai rendu en 2008 pour l'obtention d'un
Master en Informatique à <a href="http://www.umons.ac.be">l'Université de Mons (UMONS)</a> en Belgique. Afin
d'éviter qu'il ne soit perdu au fond d'une bibliothèque universitaire, j'ai trouvé plus utile de le placer en
marge du jeu <a href="https://sokoban-game.com">Sokoban-Game.com</a>.

<br/><br/>

Ce document est à destination du grand public, et j'ai fait mon possible pour qu'il soit compréhensible au plus grand
nombre. J'espère que des joueurs passionnés prendront un certain plaisir à comprendre par quels moyens, plus subtils qu'il n'y parait,
un ordinateur peur réussir à détecter les solutions "optimales" des niveaux de Sokoban.

<br/><br/>

<ul>
  <li>* La version pdf du mémoire (français) : <a href="/master_thesis/sokoban_thesis_fr.pdf">sokoban_thesis_fr.pdf</a></li>
  <li>* Le code du solveur (anglais) : <a href="/master_thesis/sokoban_solver.zip">sokoban_solver.zip</a></li>
  <li>* La documentation du code (anglais) : <a href="/master_thesis/doc/html/index.html">documentation</a></li>
</ul>

<br/>

N'hésitez pas à me contacter sur mon mail : <a href="mailto:contact@sokoban-game.com">contact@sokoban-game.com</a>

<br/><br/>

Bonne lecture !

<br/><br/>

<div style="text-align:right">
Michaël Hoste
</div>

<br />

</div>
