development:
    adapter: mysql2
    encoding: utf8
    database: sokoban
    username: root
    password: abc
    socket: /tmp/mysql.sock

test:
    adapter: mysql2
    encoding: utf8
    database: sokoban
    username: root
    password: abc
    socket: /tmp/mysql.sock

#production:
#    adapter: mysql2
#    encoding: utf8
#    database: sokoban
#    username: root
#    password: abc
#    socket: /tmp/mysql.sock