<div id="current-score" class="score">
  <div class="score-picture">
    <% user_name = (current_user ? current_user.name : 'Anonymous') %>
    <% user_picture = (current_user ? current_user.profile_picture : 'default_user.png' )%>
    <% won_levels_count = (current_user ? current_user.won_levels_count : '' )%>
    <%= image_tag user_picture, :title => "#{user_name} - #{won_levels_count}" %>
  </div>
  <div class="score-pushes">
    0
  </div>
  <div class="score-pushes-text">
    pushes
  </div>
  <div class="score-moves">
    0
  </div>
  <div class="score-moves-text">
    moves
  </div>
  <div class="score-date">
    now
  </div>
  <div style="clear:both"></div>
</div>
