<div id="game">
  <%= render 'packs/show_deadlock_message' %>
  <div class="fullscreen">
  </div>
  <div class="game-out">
    <div id="raphael" class="game-in">&nbsp;</div>
  </div>
  <div class="large-shad">&nbsp;</div>

  <div id="current-score" class="score">
    <div class="score-pushes">0</div>
    <div class="score-pushes-text"><%= _('pushes') %></div>
    <div class="score-moves">0</div>
    <div class="score-moves-text"><%= _('moves') %></div>
  </div>
</div>
