<div id="game">
  <div class="game-out">
    <div id="raphael" class="game-in">&nbsp;</div>
  </div>
  <div class="large-shad">&nbsp;</div>

  <div id="current-score" class="score">
    <div class="score-pushes">0</div>
    <div class="score-pushes-text">pushes</div>
    <div class="score-moves">0</div>
    <div class="score-moves-text">moves</div>
  </div>

  <div id="current-level-name">
    <h2><a href="<%= pack_level_url(@pack.name, @level.name) %>"><%= @level.name %></a></h2>
  </div>
</div>
