<div id="deadlock">
  <div id="deadlock-message">
    A deadlock has been found
  </div>
  <div id="deadlock-press-d">
    <span>Press <%= image_tag "key_d.png" %> to cancel the last move</span>
  </div>
</div>
