<div id="menu_levels">
  <ul id="packs">
    <li title="<%= @pack.name %>"><%= @pack.name %></li>
  </ul>

  <ul id="levels">
    <% @pack.levels.each do |level| %>
      <li><span class="star icon-star-empty"></span><span class="level-id"><%= level.name %></span></li>
    <% end %>
  </ul>
</div>

<canvas id="webgl" width="730" height="470">
  Sorry, your browser doesn't support the &lt;canvas/&gt; tag. Please come back with a newer
  browser.
</canvas>
