@import "utils.css.scss";

/* Let's get this party started */
::-webkit-scrollbar
{
	width:8px;
}
 
/* Track */
::-webkit-scrollbar-track
{
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); 
	-webkit-border-radius:10px;
	border-radius:10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb
{
	-webkit-border-radius:10px;
	border-radius:10px;
	background:#CCCCCC;
	-webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5); 
}

::-webkit-scrollbar-thumb:window-inactive
{
	background:$lighter;
}

// to not display title bar in colorbox
#cboxTitle
{
  display: none;
}

#cboxBottomLeft
{
  height:10px;
  background:url(colorbox/controls.png) no-repeat 0 -65px;
}
#cboxBottomRight
{
  height:10px;
  background:url(colorbox/controls.png) no-repeat -36px -65px;
}

#cboxBottomCenter
{
  height:10px;
}