@import "utils.css.scss";

#banner
{
	@extend .border_box;
	
	position:absolute;
	width:100%;
	border-top:1px solid $light;
	border-bottom:1px solid $light;
	background-color:$lighter;
	font-family:arial;
	font-weight:bold;
	text-align:center;
	color:#444444;
	
	z-index:200;
}

#limited-banner
{	
	position:relative;
	width:100%;
}

.banner-text
{
	padding-top:20px;
	padding-bottom:20px;
	font-size:23px;
}

.banner-friends
{
	font-size:0px;
	padding-top:2px;
	padding-bottom:2px;
	
	img
	{
		width:30px;
		height:30px;
		margin-left:3px;
		margin-right:3px;
		padding-top:2px;
		padding-bottom:2px;
	}
}