@import "utils.css.scss";

#deadlock
{
  display:none;
  position:absolute;
  width:240px;
  top:189px;
  left:509px;
  padding-top:17px;
  padding-bottom:13px;
  padding-left:30px;
  padding-right:30px;
  border:2px solid $dark;
  background-color:$light;
  color:#222222;

  -moz-opacity:0.93;
  opacity:0.93;

  -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);

  #deadlock-message
  {
    text-align:center;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;

    a
    {
      color:#222222;
    }
  }

  #deadlock-press-d
  {
    margin-top:4px;
    text-align:center;

    img
    {
      vertical-align:-7px;
      width:24px;
      margin-left:2px;
      margin-right:2px;
    }
  }
}
