@import "utils.css.scss";

body
{
	margin:0px;
	padding:0px;
	background-color:$lighter;
}

header
{
	margin-top:5px;
	width:100%;
	height:100px;
	background-color:white;
	border-top:1px solid $light;
	
	#limited-header
	{	
		position:relative;
		width:1000px;
		left:50%;
		margin-left:-500px;
		
		#title
		{
			margin-top:20px;
			font-weight:bold;
			float:left;
			font-size:50px;
		}

		#menus
		{
			float:right;
			
			ul
			{
				margin-top:30px;
				
				li
				{
					float:left;
					list-style-type:none;
					padding:10px;
					padding-left:15px;
					padding-right:20px;
					margin-left:15px;
					@extend .button_off;
				}
				
				li:hover
				{
					@extend .button_on;
				}
				
				li.name
				{
					@extend .border_box;
					margin-top:7px;
					margin-left:0px;
					margin-right:20px;
					padding:5px;
					padding-left:10px;
					padding-right:10px;
					border-left:0px;
					font-size:11px;
					height:26px;
					background-color:white;
				}
				
				li.name:hover
				{
					border:1px solid $dark;
					border-left:0px;
				}
				
				li.picture
				{
					float:left;
					padding:0px;
					margin:0px;
					border:0px;
					margin-top:7px;
					font-size:0px;

					img
					{
						height:26px;
					}
				}
				
				.is-selected
			  {
					@extend .button_selected;
			  }
			}
		}
	}
}

