@import "utils.css.scss";

#webgl
{
  display:none;
  float:left;
}

#raphael
{
  display:none;
  width:730px;
  height:470px;
  float:left;
}

#deadlock
{
  display:none;
  position:absolute;
  width:240px;
  top:225px;
  left:474px;
  padding-top:17px;
  padding-bottom:13px;
  padding-left:30px;
  padding-right:30px;
  border:2px solid $dark;
  background-color:$light;
  
  -moz-opacity:0.93;
  opacity:0.93;
  
  -webkit-box-shadow: 0px 0px 25px rgba(50, 50, 50, 0.75);
  -moz-box-shadow:    0px 0px 25px rgba(50, 50, 50, 0.75);
  box-shadow:         0px 0px 25px rgba(50, 50, 50, 0.75);
  
  #deadlock-message
  {
    text-align:center;
    font-size:14px;
    font-weight:bold;
    text-transform:uppercase;
  }
  
  #deadlock-press-d
  {
    margin-top:4px;
    text-align:center;
    
    img
    {
      vertical-align:-7px;
      width:24px;
      margin-left:2px;
      margin-right:2px;      
    }
  }
}

#content
{
  margin-top:40px; // dynamicaly overrided in utils.js.coffee
	width:100%;
	background-color:white;
	
	#limited-content
	{	
		padding-top:30px;
		position:relative;
		width:1000px;
		left:50%;
		margin-left:-500px;
		
		canvas
		{
			float:right;
		}
	}
}

// in #limited-content
#menu-levels
{
	@extend .border_box;
  position:relative;
	float:left;
	width:260px;
	height:500px;
	margin-bottom:3px;
	z-index:50;
	
	#packs
	{
	  height:35px;
	  overflow:hidden;
		text-align:center;
		font-weight:bold;
		text-transform:uppercase;
	}

	#levels
	{				
		height:465px;
	  overflow:auto;
		border:1px solid darken($lighter, 10%);
		background-color:lighten($lighter, 4%);
				
	  li
	  {
			@extend .border_box;
		
			float:left;
			width:60px;
			margin:10px;
			margin-top:11px;
			margin-bottom:11px;
			padding:5px;
			text-align:left;
			list-style-type:none;
			@extend .button_off;
			
			.star
			{
				display:block;
				float:left;
			}
			
			.icon-star
			{
				color:black;
				-webkit-text-fill-color:#EDDA74; // fallback color if no stroke
				-webkit-text-stroke: 1px rgb(0,0,0);
			}
			
			.level-index
			{
				display:block;
				float:left;
				width:25px;
				text-align:right;
			}
	  }

	  li:hover
	  {
			@extend .button_on;
	  }

	  li.is-selected
	  {
			@extend .button_selected;
	  }
	  
	  li.won-by-friend
	  {
      @extend .button_selected_red;
    }
	}
}

.level-thumb
{
  position:absolute;
  width:200px;
  height:150px;
	border:1px solid darken($lighter, 10%);
	background-color:lighten($lighter, 4%);
	top:65px;
  left:50px;
  display:none;
  z-index:1;
  
  -moz-opacity:0.98;
  opacity:0.98;

  -webkit-box-shadow: 0px 0px 8px rgba(50, 50, 50, 0.15);
  -moz-box-shadow:    0px 0px 8px rgba(50, 50, 50, 0.15);
  box-shadow:         0px 0px 8px rgba(50, 50, 50, 0.15);
  
  #level-thumb-canvas
  {
    width:200px;
    height:150px;
  }
}

// in #limited-content
.pack
{
	@extend .border_box;
	float:left;
	border:1px solid darken($lighter, 10%);
	background-color:lighten($lighter, 4%);
	width:220px;
	margin-left:15px;
	margin-right:15px;
	margin-bottom:25px;
	padding-left:4px;
	padding-right:4px;
	
	.pack-title
	{
		text-align:center;
		font-size:14px;
		margin-top:6px;
		margin-bottom:3px;
		
		a
		{
			color:black;
			text-decoration:none;
			font-weight:bold;
		}
	}
	
	li
  {
		@extend .border_box;
	
		float:left;
		width:32px;
		margin:5px;
		padding:5px;
		text-align:left;
		list-style-type:none;
		@extend .button_off;
		
		.star
		{
			display:block;
			float:left;
			text-align:center;
		}
		
		.icon-star
		{
			color:black;
			-webkit-text-fill-color:#EDDA74; // fallback color if no stroke
			-webkit-text-stroke: 1px rgb(0,0,0);
		}
		
		.level-id
		{
		  display:none;
		}
  }

  li:hover
  {
		@extend .button_on;
  }

  li.is-selected
  {
		@extend .button_selected;
  }
  
  li.won-by-friend
  {
    @extend .button_selected_red;
  }
}
