@import "utils.css.scss";

#scores
{
  margin-left:275px;
  margin-right:20px;
  padding-bottom:18px;
  background-color:white;
}

#current-score
{
  float:left;
  border:1px solid $light;
  background-color:$lighter;
  width:698px;
  margin-left:15px;
  margin-right:15px;
}

.score
{
  .score-picture
  {
    float:left;
		padding:0px;
		margin:0px;
		border:0px;
		font-size:0px;
		
		img
		{
		  width:30px;
		}
  }

  .score-pushes, .score-moves
  {
    float:left;
    font-size:25px;
    width:160px;
    margin-right:6px;
    text-align:right;
    color:#666666;
  }

  .score-pushes-text, .score-moves-text
  {
    float:left;
    margin-top:12px;
    font-size:12px;
    font-weight:bold;
    color:#666666;
  }

  .score-date
  {
    float:left;
    width:256px;
    text-align:right;
    margin-top:13px;
    font-size:12px;
    color:#666666;
  } 
}

.scores-list
{
  width:350px;
  margin-top:10px;
  border:1px solid;
  float:left;
  
  .score-picture
  {
    float:left;
		padding:0px;
		margin:0px;
		border:0px;
		font-size:0px;
		
		img
		{
		  width:30px;
		}
  }
}