@import "utils.css.scss";

#session
{
  font-family: Times;

  .session-button
  {
    margin-top:10px;
    margin-left:15px;
    margin-right:15px;
    font-size:0px;

    -webkit-box-shadow: 0px 0px 7px $dark;
    -moz-box-shadow: 0px 0px 7px $dark;
    box-shadow: 0px 0px 7px $dark;

    background-color:#617aac;
    border:2px solid #1a356e;

    cursor:pointer;

    .session-connect
    {
      @extend .border_box;
      border-right:2px solid #1a356e;
      float:left;
    }

    .session-text
    {
      @extend .border_box;
      width:280px;
      float:left;
      font-size:12px;
      padding-bottom:0px;
      padding-top:18px;
      padding-right:0px;
      padding-left:35px;
      color:#F9F9FF;

      .session-text-title
      {
        font-weight:bold;
        font-size:14px;
      }

      ul
      {
        margin-top:5px;
        margin-bottom:5px;
        color:#F5F5F8;

        li
        {
          list-style-type:none;
          margin-left:20px;
        }
      }
    }
  }

  .session-button:hover
  {
    //background-color:$lighter;
  }

  .session-note
  {
    text-align:center;
    margin-top:10px;
    font-size:10px;
    color:#555555;
  }
}
