$lighter: #f1f4f8;
$light: #729fcf;
$dark: #4575a8;
$darker: #2d5a8b;

.border_box
{
  /* the padding is taken "inside" the box width size */
  -webkit-box-sizing:border-box; /* Safari/Chrome, other WebKit */
  -moz-box-sizing:border-box;    /* Firefox, other Gecko */
  box-sizing:border-box;         /* Opera/IE 8+ */
}

.button_off
{
  border:1px solid #c9c9c9;

  background-image: linear-gradient(bottom, rgb(250,250,250) 47%, rgb(245,245,245) 82%);
  background-image: -o-linear-gradient(bottom, rgb(250,250,250) 47%, rgb(245,245,245) 82%);
  background-image: -moz-linear-gradient(bottom, rgb(250,250,250) 47%, rgb(245,245,245) 82%);
  background-image: -webkit-linear-gradient(bottom, rgb(250,250,250) 47%, rgb(245,245,245) 82%);
  background-image: -ms-linear-gradient(bottom, rgb(250,250,250) 47%, rgb(245,245,245) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, rgb(250,250,250)),
    color-stop(0.82, rgb(245,245,245))
  );
}

.button_on
{
  background-image: linear-gradient(bottom, $light 47%, darken($light, 7%) 82%);
  background-image: -o-linear-gradient(bottom, $light 47%, darken($light, 7%) 82%);
  background-image: -moz-linear-gradient(bottom, $light 47%, darken($light, 7%) 82%);
  background-image: -webkit-linear-gradient(bottom, $light 47%, darken($light, 7%) 82%);
  background-image: -ms-linear-gradient(bottom, $light 47%, darken($light, 7%) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, $light),
    color-stop(0.82, darken($light, 7%))
  );

  cursor:pointer;
  color:#F5F5F5;
}

.button_selected
{
  background-image: linear-gradient(bottom, darken($lighter, 3%) 47%, darken($lighter, 10%) 82%);
  background-image: -o-linear-gradient(bottom, darken($lighter, 3%) 47%, darken($lighter, 10%) 82%);
  background-image: -moz-linear-gradient(bottom, darken($lighter, 3%) 47%, darken($lighter, 10%) 82%);
  background-image: -webkit-linear-gradient(bottom, darken($lighter, 3%) 47%, darken($lighter, 10%) 82%);
  background-image: -ms-linear-gradient(bottom, darken($lighter, 3%) 47%, darken($lighter, 10%) 82%);

  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.47, darken($lighter, 3%)),
    color-stop(0.82, darken($lighter, 10%))
  );

  cursor:pointer;
  color:#333333;
}

.button_selected_red
{
  background-image: linear-gradient(top, rgb(204,118,118) 47%, rgb(207,174,174) 82%);
  background-image: -o-linear-gradient(top, rgb(204,118,118) 47%, rgb(207,174,174) 82%);
  background-image: -moz-linear-gradient(top, rgb(204,118,118) 47%, rgb(207,174,174) 82%);
  background-image: -webkit-linear-gradient(top, rgb(204,118,118) 47%, rgb(207,174,174) 82%);
  background-image: -ms-linear-gradient(top, rgb(204,118,118) 47%, rgb(207,174,174) 82%);

  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    color-stop(0.47, rgb(204,118,118)),
    color-stop(0.82, rgb(207,174,174))
  );

  cursor:pointer;
  color:#333333;
}

/* Let's get this party started */
::-webkit-scrollbar
{
  width:8px;
}

/* Track */
::-webkit-scrollbar-track
{
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
  -webkit-border-radius:10px;
  border-radius:10px;
}

/* Handle */
::-webkit-scrollbar-thumb
{
  -webkit-border-radius:10px;
  border-radius:10px;
  background:#CCCCCC;
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.5);
}

::-webkit-scrollbar-thumb:window-inactive
{
  background:$lighter;
}

// to not display title bar in colorbox
#cboxTitle
{
  display: none;
}

#cboxBottomLeft
{
  height:10px;
  background:url(colorbox/controls.png) no-repeat 0 -65px;
}
#cboxBottomRight
{
  height:10px;
  background:url(colorbox/controls.png) no-repeat -36px -65px;
}

#cboxBottomCenter
{
  height:10px;
}
