@import "utils.css.scss";

// common to all workflows
.title
{
  font-size:18px;
  text-align:center;
  font-weight:bold;
  color:#444444;
  padding-top:20px;
  font-family:'Droid Sans', Arial, Verdana, Helvetica, sans-serif;
}

.sub-title
{
  height:20px;
  text-align:center;
  color:#555555;
}

.buttons
{
  border-top:1px solid $light;
  margin-top:20px;
  padding-top:9px;
  padding-left:6px;
  padding-right:6px;

  span
  {
    font-family:'Droid Sans', Arial, Verdana, Helvetica, sans-serif;
    color:#444444;
    font-size:13px;
  }

  a, a:hover
  {
    color:black;
  }

  ul
  {
    float:right;

    li
    {
      float:left;
      list-style-type:none;
      padding:10px;
      padding-left:15px;
      padding-right:20px;
      margin-left:4px;
      @extend .button_off;
    }

    li:hover
    {
      @extend .button_on;
    }
  }
}

#welcome
{
  .description-bar
  {
    border-top:1px solid $light;
    border-bottom:1px solid $light;
    margin-top:10px;
    padding-top:5px;
    padding-bottom:5px;
    background-color:$lighter;
    font-family:arial;
    font-weight:bold;
    text-align:center;
    color:#444444;
  }

  .image
  {
    table
    {
      margin-top:20px;
      left:-50%;
      margin-left:160px;

      td
      {
        margin:0px;
        padding:0px;
        font-size:0px;

        img
        {
          width:32px;
          height:32px;
          font-size:0px;
        }
      }
    }
  }
}

#controls
{
  .images
  {
    margin-top:20px;
    margin-left:22px;

    img
    {
      width:140px;
    }

    table
    {
      .keyboard
      {
        @extend .border_box;
        width:170px;
        padding-left:10px;
        vertical-align: middle;
      }

      .arrow
      {
        @extend .border_box;
        width:80px;
        text-align:center;
        vertical-align: middle;

        i
        {
          color:#444444;
          font-size:40px;
        }
      }

      .level
      {
        @extend .border_box;
        width:170px;
        padding-left:25px;
        vertical-align: middle;
      }
    }

    table.pusher
    {
      td
      {
        margin:0px;
        padding:0px;
        font-size:0px;

        img
        {
          width:25px;
          height:25px;
          font-size:0px;
        }
      }
    }
  }
}

#rules
{
  table
  {
    .arrow
    {
      @extend .border_box;
      width:60px;
      text-align:center;
      vertical-align: middle;

      i
      {
        color:#444444;
        font-size:40px;
      }
    }
  }

  .rules-level1, .rules-level2
  {
    width:210px;
    height:150px;
    vertical-align: middle;

    #rules-level1-canvas, #rules-level2-canvas
    {
      width:210px;
      height:150px;
    }
  }
}

#facebook-page, #twitter-page
{
  sup
  {
    font-size:10px;
    vertical-align:7px;
  }

  .facebook-box
  {
    margin-top:20px;
    margin-left:35px;
  }

  .twitter-page
  {
    margin-top:30px;
    margin-bottom:30px;
    text-align:center;
    padding-left:90px
  }
}

#random-level
{
  .random-level
  {
    background: #e4e4e4 asset-url('level-hover3-bkg.png') no-repeat top right;
    width: 400px;
    height: 300px;
    margin-top: 20px;
    margin-left: 35px;
    border: 1px solid #c7c7c7;
    -webkit-border-radius: 8px 8px 8px 8px;
    border-radius: 8px 8px 8px 8px;
    cursor: pointer;
  }

  .random-level:hover
  {
    background: #d7e8f0;
  }

  #random-level-canvas
  {
    width:400px;
    height:300px;
  }

  #completed-friends
  {
    height: 70px;

    #completed-friends-in
    {
      border:1px solid #CCCCCC;
      margin:10px;
      margin-left:34px;
      margin-right:34px;
      padding:5px;
      text-align:center;
      background-color:#F5F5F5;

      .tips
      {
        font-weight:bold;
      }
    }
  }

  .challenge-buttons
  {
    padding-left:118px;
  }

  .reload-button, .later-button
  {
    float:left;

    a
    {
      display: inline-block;
      background: asset-url('sprites.png') no-repeat -100px -150px;
      border: 1px solid #c9c9c9;
      height: 25px;
      line-height: 25px;
      padding: 0 10px 0 36px;
      font-size: 12px;
      font-weight: bold;
      color: #333;
      -webkit-border-radius: 2px;
      border-radius: 2px;
      margin-left: 10px;
      text-decoration: none;
    }
  }

  .later-button
  {
    a
    {
      background: asset-url('sprites.png') no-repeat -200px -150px;
      padding: 0 10px 0 13px;
    }
  }
}

#donation-page
{
  .content
  {
    margin-top:10px;
    padding:10px;
    font-size:13px;

    a img
    {
      width:100px;
      float:left;
      margin-right:15px;
    }
  }

  ul.list1
  {
    padding-left:5px;
    margin-top:8px;
    margin-left:118px;

    li
    {
      display:list-item;
      list-style-type:disc;
      margin-left:18px;
      padding-top:4px;
    }
  }

  ul.list2
  {
    margin-top:8px;

    li
    {
      display:list-item;
      list-style-type:disc;
      margin-left:18px;
      padding-top:4px;
    }
  }

  table
  {
    margin-top:20px;
    border-top:1px solid #CCCCCC;

    td
    {
      width:280px;
      text-align:center;
      padding-top:10px;
      background-color: #F5F5F5;
      border: 1px solid #CCCCCC;
    }

    td.left
    {
      border-right:1px solid #CCCCCC;
    }

    .table-title
    {
      font-weight:bold;
      font-size:14px;
    }

    .ways
    {
      text-align:left;
      padding:10px;
    }
  }

  .ways
  {
    img
    {
      width:30px;
    }

    .wall, .all, .some, .custom
    {
      vertical-align:9px;
      margin-left:6px
    }
  }

  a
  {
    text-decoration:none;
    font-weight:bold;
    color:black;
  }

  a:hover
  {
    color:blue;
  }

  .buttons
  {
    margin-top:0px;
  }
}

#invite-friends
{
  sup
  {
    font-size:10px;
    vertical-align:7px;
  }

  .sub-title
  {
    margin-top:15px;
  }

  .friends
  {
    margin-top:30px;

    img
    {
      width:30px;
      cursor:pointer;
    }

    .top, .bottom
    {
      height:66px;
    }

    .left, .right
    {
      width:98px;
      height:99px;
      float:left;
    }

    .friend-button
    {
      @extend .button_off;
      @extend .border_box;
      margin-top:5px;
      margin-bottom:8px;
      margin-left:8px;
      margin-right:8px;
      width:260px;
      height:86px;
      float:left;
      padding-top:32px;
      padding-left:0px;
      padding-right:0px;
      text-align:center;
      font-weight:bold;
      color:#333;
      -webkit-border-radius:2px;
      border-radius:2px;
      cursor:pointer;
      -webkit-box-shadow: 0px 0px 10px $dark;
      -moz-box-shadow: 0px 0px 10px $dark;
      box-shadow: 0px 0px 10px $dark;

      i
      {
        font-size:25px;
        vertical-align:-8px;
        line-height:29px;
        padding-right:7px;
      }
    }

    .friend-button:hover
    {
      @extend .button_on;
    }
  }
}

#cboxLoadedContent
{
  /*background: #fff asset-url('header-bkg.png') repeat-x;*/
  background: #fff asset-url('game-won-bkg.png') repeat-x bottom left;
}


