@import "utils.css.scss";

#welcome
{
  .title
  {
    font-size:18px;
    text-align:center;
    font-weight:bold;
    color:#444444;
    padding-top:20px;
  }
  
  .sub-title
  {
    height:20px;
    text-align:center;
    color:#555555;
  }
  
  .description-bar
  {
  	border-top:1px solid $light;
  	border-bottom:1px solid $light;
  	margin-top:10px;
  	padding-top:5px;
  	padding-bottom:5px;
  	background-color:$lighter;
  	font-family:arial;
  	font-weight:bold;
  	text-align:center;
  	color:#444444;
  }
  
  .image
  {
    table
    {
      margin-top:20px;
      left:-50%;
      margin-left:160px;
      
      td
      {
        margin:0px;
        padding:0px;
        font-size:0px;
        
        img
        {
          width:32px;
          height:32px;
          font-size:0px;
        }
      }
    }
  }
  
  .buttons
  {
    border-top:1px solid $light;
    margin-top:20px;
    padding-top:9px;
    
		ul
		{	
		  margin-left:340px;

			li
			{
				float:left;
				list-style-type:none;
				padding:10px;
				padding-left:15px;
				padding-right:20px;
				@extend .button_off;
			}
			
			li:hover
			{
				@extend .button_on;
			}
		} 
  }
}