#users-latest_levels, #users-levels_to_solve, #users-scores_to_improve
{
  #left-side
  {
    float:left;
    width:276px;
    margin-top:11px;
    margin-right:10px;

    img.profile
    {
      width:274px;
    }

    .stats
    {
      width:100%;
      margin-top:8px;

      td.first
      {
        padding:2px;
        font-weight:bold;
        width:116px;
      }


      td.second
      {
        font-size:15px;
        text-align:right;
      }
    }

    .friends
    {
      margin-top:14px;

      img
      {
        margin-right:2px;
        margin-bottom:2px;
      }
    }
  }

  #right-side
  {
    float:left;
    width:654px;
    margin-left:20px;

    #tabs
    {
      border-bottom:1px solid #CCCCCC;
      margin-top:11px;
      margin-bottom:10px;

      .tab
      {
        float:left;
        padding:18px;
        padding-top:5px;
        padding-bottom:6px;

        a
        {
          color:inherit;
          text-decoration:none;
        }
      }

      .active
      {
        font-weight:bold;
      }
    }

    .level
    {
      width:218px;
      height:180px;
      float:left;
      margin:0px;
      margin-top:0px;
      margin-bottom:5px;

      div
      {
        width:100%;
        height:100%;
      }
    }
  }
}
