<% if current_user and current_user.display_advertisement? %>
  <div id="header-notice" style="float:left;">
    <% if false %>
      <%= render 'layouts/advert_body_adsense' %>
    <% else %>
      <%= render 'layouts/advert_body_lifestreetmedia' %>
    <% end %>
  </div>

  <div id="pay-me-a-beer" class="tips" title="<%= _("Want to reward my work ? Just pay me a beer (full game without ads)") %>">
    <img src="/assets/full-game.gif"/>
  </div>

  <div style="clear:both"></div>
<% end %>
