<div id="game-preload" style="display:none">
  <script type="text/javascript">
    //<![CDATA[
      LSM_Slot({
        adkey: '042',
        ad_size: '300x250',
        slot: 'slot62928'
      });
    //]]>
  </script>
</div>
