<!--
  This part is useful for sending recursive app_requests to friends
-->
<div id="fb-friends" style="display:none">
  <% fb_friends = current_user.friends.order('friends_count DESC').pluck(:f_id) %>
  <% batch_num = 1 %>
  <% while fb_friends.count > 0 %>
    <div class="batch-<%= batch_num %>">
      <%= fb_friends.shift(50).join(',') %>
      <% batch_num = batch_num + 1 %>
    </div>
  <% end %>
</div>
