<header>
  <div id="limited-header">
    <div id="title">
      Sokoban
    </div>
    <div id="menus">
      <ul>
        <li class="is-selected">Game</li>
        <li>Scores</li>
        <li>Rules</li>
      </ul>
    </div>
  </div>
</header>