<header>
  <div id="limited-header">
    <div id="title">
      Sokoban
    </div>
    <div id="menus">
      <ul>
        <% if current_user %>
          <li class="picture fb_logout"><%= image_tag current_user.profile_picture %></li>
          <li class="name fb_logout" title="Logout"><%= current_user.name %>&nbsp;<i class="icon-signout"></i></li>       
        <% else %>
          <li class="picture fb_login"><%= image_tag "facebook-connect-small.png" %></li>
          <li class="name fb_login">Connect with Facebook</li>
        <% end %>
        <li class="is-selected"><i class="icon-star"></i>&nbsp;Game</li>
        <li><i class="icon-trophy"></i>&nbsp;Scores</li>
        <li><i class="icon-book"></i>&nbsp;Rules</li>
      </ul>
    </div>
  </div>
</header>