<div style="width: 800px;left: -400px;margin-left:50%;position:relative;margin-top: 20px;margin-bottom: 20px;">

  <h1>Privacy Policy</h1>

  <p>
    80LIMIT SRL ("us", "we", or "our"), company registered at Avenue de l'Hôpital 77, 7000 Mons, Belgium, CBE Number / VAT: BE0846734972 - RPM Mons, operates the <a href="https://sokoban-game.com" target="_blank">sokoban-game.com</a> website (the "Service").
  </p>

  <p>
    This privacy policy will explain how our organization uses the personal data we collect from you when you use our website.
  </p>

  <p>
    Topics:
  </p>

  <ul>
    <li>What data do we collect?</li>
    <li>How do we collect your data?</li>
    <li>How will we use your data?</li>
    <li>How do we store your data?</li>
    <li>Marketing</li>
    <li>What are your data protection rights?</li>
    <li>What are cookies?</li>
    <li>How do we use cookies?</li>
    <li>What types of cookies do we use?</li>
    <li>How to manage your cookies</li>
    <li>Privacy policies of other websites</li>
    <li>Changes to our privacy policy</li>
    <li>How to contact us</li>
    <li>How to contact the appropriate authorities</li>
  </ul>


  <h2>
    What data do we collect?
  </h2>

  <p>
    We collect the following data:
  </p>

  <ul>
    <li>
      Personal identification information:
      <ul>
        <li>Name.</li>
        <li>Facebook ID number.</li>
        <li>Email address (only when Facebook shares it).</li>
      </ul>
    </li>
  </ul>

  <h2>
    How do we collect your data?
  </h2>

  <p>
    You directly provide us with most of the data we collect.
  </p>

  <p>
    We collect data and process data when you:
  </p>

  <ul>
    <li>
      Register online using the “connect with Facebook” button.
    </li>
  </ul>

  <h2>
    How will we use your data?
  </h2>

  <p>
    We collecte your data so that we can:
  </p>

  <ul>
    <li>Save your personal Sokoban scores on your account.</li>
    <li>Email you with required transactional emails (lost password).</li>
    <li>Email you with optional transactional emails (a friend beat your score)</li>
  </ul>

  <h2>
    How do we store your data?
  </h2>

  <p>
    We securely store your data on a database at a Scaleway datacenter (https://scaleway.com)
  </p>

  <h2>
    Marketing
  </h2>

  <p>
    We don’t share your data for any marketing purposes.
  </p>

  <h2>
    What are your data protection rights?
  </h2>

  <p>
    We would like to make sure you are fully aware of all of your data protection rights. Every user is entitled to the following:
  </p>

  <p>
    <strong>The right to access</strong> – You have the right to request us for copies of your personal data. We may charge you a small fee for this service.
  </p>

  <p>
    <strong>The right to rectification</strong> – You have the right to request that we correct any information you believe is inaccurate. You also have the right to request us to complete the information you believe is incomplete.
  </p>

  <p>
    <strong>The right to erasure</strong> – You have the right to request that we erase your personal data. You can trigger this automated and irreversible action on your personal page. You can access it by clicking on your name. The link is named “Destroy my account” and is visible on the bottom left.
  </p>

  <p>
    <strong>The right to restrict processing</strong> – You have the right to request that we restrict the processing of your personal data, under certain conditions.
  </p>

  <p>
    <strong>The right to object to processing</strong> – You have the right to object to our processing of your personal data, under certain conditions.
  </p>

  <p>
    <strong>The right to data portability</strong> – You have the right to request that we transfer the data that we have collected to another organization, or directly to you, under certain conditions.
  </p>

  <p>
    If you make a request, we have one month to respond to you. If you would like to exercise any of these rights, please contact us at our email: <a href="mailto:contact@sokoban-game.com" target="_blank">contact@sokoban-game.com</a>
  </p>

  <h2>
    Cookies
  </h2>

  <p>
    Cookies are text files placed on your computer to collect standard Internet log information and visitor behavior information. When you visit our websites, we may collect information from you automatically through cookies or similar technology
  </p>

  <p>
    For further information, visit <a href="https://allaboutcookies.org" target="_blank">allaboutcookies.org</a>.
  </p>

  <h2>
    How do we use cookies?
  </h2>

  <p>
  we use cookies in a range of ways to improve your experience on our website, including:
  </p>

  <ul>
    <li>Keeping you signed in</li>
    <li>Understanding how you use our website</li>
  </ul>

  <h2>
    What types of cookies do we use?
  </h2>


  <p>
    There are a number of different types of cookies, however, our website uses:
  </p>

  <ul>
    <li><strong>Functionality</strong> – We use these cookies so that we recognize you on our website and remember your previously selected preferences. These could include what language you prefer and location you are in. A mix of first-party and third-party cookies are used.</li>
    <li><strong>Debugging</strong> – We use these cookies to collect information about the errors that are triggered on your browser when using the website, in order to fix them later.</li>
    <li><strong>Analytics</strong> – We use these cookies to better understand the popularity and usage of our website.</li>
  </ul>

  <h2>
    How to manage cookies
  </h2>

  <p>
    You can set your browser not to accept cookies, and the above website tells you how to remove cookies from your browser. However, in a few cases, some of our website features may not function as a result.
  </p>

  <h2>
    Privacy policies of other websites
  </h2>

  <p>
    The <a href="https://sokoban-game.com" target="_blank">sokoban-game.com</a> website contains links to other websites. Our privacy policy applies only to our website, so if you click on a link to another website, you should read their privacy policy.
  </p>

  <h2>
    Changes to our privacy policy
  </h2>

  <p>
    We keep its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 1st september 2021.
  </p>

  <h2>
    How to contact us
  </h2>

  <p>
    If you have any questions about our privacy policy, the data we hold on you, or you would like to exercise one of your data protection rights, please do not hesitate to contact us.
  </p>

  <p>
    Email us at: <a href="mailto:contact@sokoban-game.com" target="_blank">contact@sokoban-game.com</a>
  </p>

  <%= link_to "Back to Sokoban", root_path %>
















  <!--

  <h1>
  	Privacy Policy
  </h1>

  <p>
  	Your privacy is very important to us. Accordingly, we have developed this
  	Policy in order for you to understand how we collect, use, communicate and
  	disclose and make use of personal information. The following outlines our
  	privacy policy.
  </p>

  <ul>
  	<li>
  		Before or at the time of collecting personal information, we will identify
  		the purposes for which information is being collected.
  	</li>
  	<li>
  		We will collect and use of personal information solely with the objective
  		of fulfilling those purposes specified by us and for other compatible
  		purposes, unless we obtain the consent of the individual concerned or as
  		required by law.
  	</li>
  	<li>
  		We will only retain personal information as long as necessary for the
  		fulfillment of those purposes.
  	</li>
  	<li>
  		We will collect personal information by lawful and fair means and, where
  		appropriate, with the knowledge or consent of the individual concerned.
  	</li>
  	<li>
  		Personal data should be relevant to the purposes for which it is to be used,
  		and, to the extent necessary for those purposes, should be accurate, complete,
  		and up-to-date.
  	</li>
  	<li>
  		We will protect personal information by reasonable security safeguards against
  		loss or theft, as well as unauthorized access, disclosure, copying, use or
  		modification.
  	</li>
  	<li>
  		We will make readily available to customers information about our policies and
  		practices relating to the management of personal information.
  	</li>
  </ul>

  <p>
  	We are committed to conducting our business in accordance with these principles
  	in order to ensure that the confidentiality of personal information is protected
  	and maintained.
  </p>

   -->
</div>
